# Caches
*.*cache/
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__

# Package Data
*.egg-info/
build/

# Secrets
.env
config/test/*
!config/test/.gitkeep
config/dev/*
!config/dev/.gitkeep
config/prod/*
!config/prod/.gitkeep
backups/
!backups/.gitkeep
backups/database/
!backups/database/.gitkeep

# Misc
.venv
report
deploy_db.log
