# Caches
*.*cache/
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__

# Package Data
*.egg-info/
build/

# Secrets
.env
config/test/*
config/dev/*
config/prod/*
!config/test/.gitkeep
!config/dev/.gitkeep
!config/prod/.gitkeep

# Misc
.venv
.vscode
