# Caches
*.*cache/
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__

# Build & Package Data
*.spec
*.egg-info/
projectname.spec
build/
dist/

# Secrets
.env.d/*
!.env.d/models
backups/
!backups/.gitkeep
backups/database/
!backups/database/.gitkeep
config/*
!config/models

# Misc
.venv
report
deploy_db.log
tests/linters/test.py
