repos:
  - repo: local
    hooks:
      - name: Early Sudo Prompt
        id: early-sudo-prompt   # This exists to invoke sudo immediately, to stop mid-pipeline permissions timeouts
        entry: bash -c "sudo -k; sudo true"
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Run Linters
        id: run-linters
        entry: ./tests/system_tests/run-linters.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Run Unit Tests
        id: run-unit-tests
        entry: ./tests/system_tests/run-unit-tests.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: System Starts
        id: system-starts
        entry: ./tests/system_tests/api/system-starts.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Health Check Passes
        id: health-check
        entry: ./tests/system_tests/api/health-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: POST and GET Account
        id: post-and-get-account
        entry: ./tests/system_tests/api/post-and-get-account.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
