repos:
  - repo: local
    hooks:
      - name: Early Sudo Prompt
        id: early-sudo-prompt   # This exists to invoke sudo immediately, to stop mid-pipeline permissions timeouts
        entry: bash -c "sudo -k; sudo true"
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Run Custom Import Flow Check
        id: run-linters
        entry: ./tests/system/import-flow-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Run Linters
        id: run-linters
        entry: ./tests/system/linters.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Run Unit Tests
        id: run-unit-tests
        entry: ./tests/system/unit-tests.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: Health Check Passes
        id: health-check
        entry: ./tests/system/api/health-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: POST and GET Account
        id: post-and-get-account
        entry: ./tests/system/api/post-and-get-account.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
      - name: GET Blog Post
        id: get-blog-post
        entry: ./tests/system/api/get-blog-post.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-push
