repos:
  - repo: local
    hooks:
      - name: Early Sudo Prompt
        id: early-sudo-prompt   # This exists to invoke sudo immediately, to stop mid-run permissions timeouts
        entry: bash -c "sudo -k; sudo true"
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
      - name: Linters
        id: linters
        entry: ./tests/system/run-linters.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
      - name: Unit Tests
        id: unit-tests
        entry: ./tests/system/run-unit-tests.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
      - name: Health Check
        id: health-check
        entry: ./tests/system/api/health-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
      - name: POST and GET Account
        id: post-and-get-account
        entry: ./tests/system/api/post-and-get-account.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
      - name: GET Blog Post
        id: get-blog-post
        entry: ./tests/system/api/get-blog-post.sh
        language: script
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
