name: Test API layer
on:
  workflow_call:
jobs:
  health-check:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: ./.github/actions/env-setup-test
        with:
          python-version: ${{ vars.PYTHON_VERSION }}
      - uses: ./.github/actions/api/health-check
  post-and-get-entity:
    needs: [health-check]
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: ./.github/actions/env-setup-test
        with:
          python-version: ${{ vars.PYTHON_VERSION }}
      - uses: ./.github/actions/api/post-and-get-account
  get-blog-post:
    needs: [health-check]
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: ./.github/actions/env-setup-test
        with:
          python-version: ${{ vars.PYTHON_VERSION }}
      - uses: ./.github/actions/api/get-blog-post
